<div class="hero-unit">
  <img src="http://1.bp.blogspot.com/_4HSUEmGT9Q8/TDXzm1B2EZI/AAAAAAAAAGg/mlwmDoQWbsQ/s320/monkey_dance_left.gif" class="monkey span3 offset10">
  <h1>About Like Monkey</h1>
  <br>
  <p>I built Like Monkey because I wanted to practice with <a href="http://ruby.railstutorial.org/ruby-on-rails-tutorial-book">Ruby on Rails</a> and <a href="http://twitter.github.com/bootstrap">Bootstrap</a>.</p><p> If other Rails newbs are interested, you can <a href="https://github.com/jakelevine/like_monkey">find the source code here.</a>
  <p>- Jake   
</div>
