
<div class="hero-unit row" style="min-width: 1150px">
        <div class = "span11">
          <h1>Welcome to Tumblr Monkey!</h1>
          
            
                <% if current_user %>
                <br>
                  <p>Great, you are signed in as <%= current_user.name %>. Now see what your friends are liking.</p>
                  <br>
                  <%= link_to "Dance Monkey! Dance!", recent_path, class: "btn btn-info btn-large" %>
                  

                <% else %>
                <br>
                  <p style="font-size:42px;">See what your friends are Liking on Tumblr</p> 
                  <br>
                  <%= link_to "Sign In With Tumblr", "/auth/tumblr", class: "btn btn-primary btn-large" %>
                <% end %>
          </div>
          <div class="span3">
            <img src="http://1.bp.blogspot.com/_4HSUEmGT9Q8/TDXzm1B2EZI/AAAAAAAAAGg/mlwmDoQWbsQ/s320/monkey_dance_left.gif" width="300px">
          </div>

</div>
