	<% user["response"]["liked_posts"].each do |post| %>
			<% if post["type"] == "text" %>
				<h2><a href="<%= post["post_url"] %>"><%= post["title"] %> </a></h2>
				<br>
				<%= post["body"].first(500).html_safe %>... 
				<p>
				<a href="<%= post["post_url"] %>">Read More from <%=post["blog_name"] %></a>
				<hr>
				<br>
			<% elsif post["type"] == "photo" %>
				<a href="<%= post["post_url"] %>"><img src="<%= post["photos"][0]["alt_sizes"][2]["url"] %>"></a>
				<br>
				<br>
				<%= post["caption"].first(500).html_safe %>
				<br>
				<a href="<%= post["post_url"] %>">View original from <%=post["blog_name"] %></a>
				<br>
				<hr>
			<% elsif post["type"] == "video" %>
				
				<%= post["player"][2]["embed_code"].html_safe %>
				<br>
				<br>
				<%= post["caption"].first(500).html_safe %>
				<br>
				<a href="<%= post["post_url"] %>">View original from <%=post["blog_name"] %> </a>
				<br>
				<hr>
			<% end %>
			

		<% end %>