@import "bootstrap";
body{
	margin-top:40px;
}

.sidebar-nav{
	position:fixed;
	margin-top:60px;

}
.anchor{
	padding-top:60px;
}

.framey{
	float:right;
}

.navbar{
	min-width:730px;
}


#footer{
	margin-left:20px;
	position:fixed;
	bottom:10px;
}

